{% load static %}
<div class="about-area section-padding bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12 info">
        <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
          <div>
            <div class="site-heading">
              <p class="mb-3">Estatísticas Gerenciais </p>
              <h2 class="section-title"> Números estatísticos detalhados para sua empresa </h2>
            </div>
            <div class="content">
              <p>
                A prática cotidiana prova que a determinação clara de objetivos afeta
                positivamente a correta previsão dos conhecimentos estratégicos para atingir
                a excelência. Gostaria de enfatizar que o acompanhamento das preferências de
                consumo não pode mais se dissociar do sistema de formação de quadros que corresponde
                às necessidades.
              </p>
              <a href="#" class="btn btn-common mt-3">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
      </div>
    </div>
  </div>
</div>
